html{
    font-family: "europa",sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    color: #0a0a0a;
}





.jumbotron {
    background: url(../img/banner.png) center / cover no-repeat;
    border-radius: 0;
    color: #FFF;
}



.gantt__row-bars li.stripes {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.1) 5px, rgba(255, 255, 255, 0.1) 12px);
}
.gantt__row-bars li:before, .gantt__row-bars li:after {
    content: "";
    height: 100%;
    top: 0;
    z-index: 4;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}
.gantt__row-bars li:before {
    left: 0;
}
.gantt__row-bars li:after {
    right: 0;
}


.tags {
    color: #878989;
    font-size: 18px;
    font-family: 'La Belle Aurore',cursive;
}

.tags-a {
    color: #6c757d;
    text-decoration: none;
}

.tags-a:hover {
    color: #6c757d;
    text-decoration: none;
}